<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Fake News Detection</title>
</head>

<body>
 <div class="login">
	<h1>Fake News Prediction</h1>

     <form class="form-inline" action="{{ url_for('predict')}}" method="post">
      <div class="form-group mb-2">
        <input type="text" name="news" class="form-control-plaintext" id="staticEmail2" placeholder="Enter the news url">
          <button type="submit" class="btn btn-primary mb-2">Predict</button>
      </div>
     </form>
       <br>
       <br>
       {{ prediction_text }}
 </div>

</body>
</html>